body {
  padding: 0 !important;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/img/orange-texture.jpg");
}

@media (max-width: 767px) {
  body {
    padding: 0 !important;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("./assets/img/orange-texture.jpg");
  }
}
