body {
  padding: 0 !important;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/img/orange-texture.jpg");
}
/* Style global de la barre de défilement */
::-webkit-scrollbar {
  margin: 2%;
  width: 10px; /* Largeur de la barre de défilement verticale */
  height: 10px; /* Hauteur de la barre de défilement horizontale */
}

/* Piste de la barre de défilement */
::-webkit-scrollbar-track {
  background: #ffffff; /* Piste blanche */
  border-radius: 10px; /* Coins arrondis de la piste */
}

/* Partie mobile de la barre de défilement (le pouce) */
::-webkit-scrollbar-thumb {
  background: #fa51a6; /* Forme circulaire */
  width: 16px; /* Diamètre du pouce (point rond) */
  height: 16px; /* Diamètre du pouce (point rond) */
  margin: 2px; /* Espace autour du pouce pour qu'il dépasse légèrement de la piste */
  transition: background-color 0.3s ease; /* Transition douce pour le survol */
}

/* Effet de survol du pouce */
::-webkit-scrollbar-thumb:hover {
  background: #ff3385; /* Couleur rose plus foncée au survol */
}

/* Style de la barre de défilement horizontale */
::-webkit-scrollbar-horizontal {
  height: 12px; /* Hauteur de la barre horizontale */
}

/* Style de la barre de défilement verticale */
::-webkit-scrollbar-vertical {
  width: 12px; /* Largeur de la barre verticale */
}
* {
  scrollbar-width: thin; /* "auto", "thin" ou "none" */
  scrollbar-color: #fa51a6 #ffffff; /* Couleur du pouce et couleur de la piste */
}
@media (max-width: 767px) {
  body {
    padding: 0 !important;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("./assets/img/orange-texture.jpg");
  }
}
